body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    color: black;
}
h1 {
  color: navy;
}
h2 {
   color: darkblue;
}
main {
   background-color: white;
   padding: 16px;
   margin: 16px;
}
h2 {
   margin-top:20px;
   margin-bottom: 8px;
}

ul, ol {
  margin-top:0;
  margin-bottom: 16px;
}
main{
   border: 2px solid grey;
}
img {
   width: 200px;
   border: 2px solid grey;
}
.highlight {
    background-color: lightyellow;
    border: 2px solid darkgreen;
    padding: 10px;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
li {
   margin-bottom: 6px;
}
main {
   margin: 20px auto;
   width: 80%;
}
footer {
   text-align:centre;
   margin-top: 20px;
}
.contact-bar {
   display: flex;
   justify-content: center; /* Centres links horizontally */
   gap: 40px;               /* Adds space between the links*/
   background-color: #1d5421;
   padding: 15px;
   border-radius: 8px;
}
.hero-container {
   display: flex;
   justify-content: center; /* Centres links horizontally*/
   border-radius: 20px;
}
.first-child {
   background-color: #d6c588;
   font-weight: 600 ;
}